# Sui HTLC Contract Configuration
SUI_PACKAGE_ID=0xacde63cf11c873ea80a6a0c7df6531e617955516a0d91e45aef61c8825ebf3ea
SUI_PRIVATE_KEY_INIT=suiprivkey1qp74d7ydz70rpq5kkug8qr8vz5769q096dmja5xea3rr3nhz62thksp7r84
SUI_PRIVATE_KEY_THIRD_PARTY=suiprivkey1qq5tx3hcwpx3hmha3ethmpa6dryvmvkmn85m9hqaz62mumqs5pusgnvyzus
SUI_NETWORK=testnet

PRIVATE_KEY=0x1a2e2af73929293be1c2751cda51e5fddd9244895a17c2f15eb86fbcb9c14a55
SRC_CHAIN_RPC=https://eth.merkle.io
DST_CHAIN_RPC=wss://bsc-rpc.publicnode.com
SRC_CHAIN_CREATE_FORK=true
DST_CHAIN_CREATE_FORK=true